
/*
Global style fil som setter bakgrunner til flere views
 */

.nyttKjopBakgrunn{
    -fx-background-image: url(../bakgrunner/BakgrunnNyttKjop.png);
    -fx-background-position: center center;
    -fx-background-size: 100%;
}

.endreKomponentBakgrunn{
    -fx-background-image: url(../bakgrunner/BakgrunnEndreKomponent.png);
    -fx-background-position: center center;
    -fx-background-size: 100%;
}

.brukerLoggInnBakgrunn{
    -fx-background-image: url("../bakgrunner/BakgrunnLoggInn.PNG");
    -fx-background-position: center center;
    -fx-background-size: 100%;
}

.adminLoggInnBakgrunn{
    -fx-background-image: url("../bakgrunner/BakgrunnLoggInn.PNG");
    -fx-background-position: center center;
    -fx-background-size: 100%;
}

.tidligereKjop{
    -fx-background-image: url("../bakgrunner/BakgrunnTidligereKjop.png");
    -fx-background-position: center center;
    -fx-background-size: 100%;
}

