

.nyttKjopBakgrunn{
    -fx-background-image: url(../bakgrunner/nyttKjopBakgrunn.png);
    -fx-background-position: center center;
    -fx-background-size: 100%;
}

.endreKomponentBakgrunn{
    -fx-background-image: url(../bakgrunner/RiktigEndreKomponentFerdig.png);
    -fx-background-position: center center;
    -fx-background-size: 100%;
}




/*
.button{
     -fx-background-color: #7FB2F0;
     -fx-background-position: center center;
     -fx-text-fill: #35478C;
 }

.button:hover{
    -fx-background-color: #16193B;
    -fx-background-position: center center;
    -fx-text-fill: #35478C;
}*/

